services:
  catalogapi:
    depends_on:
      - catalogdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORT=5000
      - ASPNETCORE_HTTPS_PORTS=5050
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Server=catalogdb;Port=5432;Username=root;Password=root;Database=CatalogDb
    ports:
      - 6000:5000
      - 6060:5050
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https
      
  basketapi:
    depends_on:
      - basketdb
      - redis
      - discountapi
      - messagebroker
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=6001
      - ASPNETCORE_HTTPS_PORTS=6061
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Server=basketdb;Port=5432;Username=root;Password=root;Database=BasketDb
      - ConnectionStrings__Redis=redis:6379
      - Grpc__url=https://discountapi:6002
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
    ports:
      - 6001:6001
      - 6061:6061
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https

  orderingapi:
    depends_on:
      orderdb:
        condition: service_healthy
      messagebroker:
        condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=6003
      - ASPNETCORE_HTTPS_PORTS=6063
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Server=orderdb;Database=orderdb;User Id=sa;Password=TrustMe8520;Encrypt=False;TrustServerCertificate=True
      - MessageBroker__Host=amqp://ecommerce-mq:5672
      - MessageBroker__UserName=guest
      - MessageBroker__Password=guest
    ports:
      - 6003:6003
      - 6063:6063
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https

  discountapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTPS_PORTS=6002
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Data Source=./Discount.db
    ports:
      - 6002:6002
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https

  catalogdb:
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=CatalogDb
    ports:
      - 5433:5432
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/postgres-catalog:/var/lib/postgresql/data/ 

  basketdb:
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=BasketDb
    ports:
      - 5434:5432
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/postgres-basket:/var/lib/postgresql/data/ 
  redis:
    container_name: distibutedCache
    restart: always
    ports:
      - 6379:6379

  orderdb:
    environment:
      - MSSQL_SA_PASSWORD=TrustMe8520
      - ACCEPT_EULA=Y
    restart: always
    ports:
      - 1433:1433
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/sqlserver-order/data:/var/opt/mssql/data
      - ${USERPROFILE}/DevProjects/docker-volumes/sqlserver-order/log:/var/opt/mssql/log
    healthcheck:
      test: ["CMD-SHELL", '/opt/mssql-tools18/bin/sqlcmd -U sa -P TrustMe8520 -C -Q "SELECT 1" || exit 1']
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 40s
      
  messagebroker:
    container_name: messagebroker
    hostname: ecommerce-mq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
  
  yarpgateway:
    container_name: yarpgateway
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - 6004:8080
      - 6064:8081
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https