services:
  catalogapi:
    depends_on:
      - catalogdb
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5000
      - ConnectionStrings__Default=Server=catalogdb;Port=5432;Username=root;Password=root;Database=CatalogDb
    ports:
      - 6000:5000
      - 6060:5050
      
  basketapi:
    depends_on:
      - basketdb
      - redis
      - discountapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5001
      - ASPNETCORE_HTTPS_PORTS=5051
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Server=basketdb;Port=5432;Username=root;Password=root;Database=BasketDb
      - ConnectionStrings__Redis=redis:6379
      - Grpc__url=https://discountapi:8081
    ports:
      - 6001:5001
      - 6061:5051
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https

  discountapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=55559999
      - ConnectionStrings__Default=Data Source=./Discount.db
    ports:
      - 6002:8081
    volumes:
      - ${USERPROFILE}/.dotnet/https:/https

  catalogdb:
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=CatalogDb
    ports:
      - 5433:5432
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/postgres-catalog:/var/lib/postgresql/data/ 

  basketdb:
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=BasketDb
    ports:
      - 5434:5432
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/postgres-basket:/var/lib/postgresql/data/ 
  redis:
    container_name: distibutedCache
    restart: always
    ports:
      - 6379:6379

  orderdb:
    environment:
      - MSSQL_SA_PASSWORD=TrustMe8520
      - ACCEPT_EULA=Y
    restart: always
    ports:
      - 1433:1433
    volumes:
      - ${USERPROFILE}/DevProjects/docker-volumes/sqlserver-order/data:/var/opt/mssql/data
      - ${USERPROFILE}/DevProjects/docker-volumes/sqlserver-order/log:/var/opt/mssql/log
    